include README.md
include LICENSE
include pyproject.toml
include setup.py
include kaguya_ide.spec
recursive-include static *
recursive-include data *
recursive-include kaguya_core *
global-include *.py *.html *.css *.js *.json *.db *.png *.jpg *.ico
global-exclude *.pyc __pycache__ .git .gitignore *.egg-info
